.footer {
    background-color: #956033;
    min-height: 135px;
}

.addressUnderline, .jurisdictionUnderline {
    position: relative;
    width: 6%;
    color: #250B04;
    margin-left: 180px;
    margin-top: -64px;
    transform: rotate(90deg);
    border-radius: 30%;
}

.addressUnderline {
    margin-left: 499px;
}

.jurisdictionUnderline {
    margin-left: 959px;
    margin-top: -9.5px;
}

.addressTitle, .jurisdictionTitle, .phoneTitle {
    position: relative;
    font-size: 16px;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2px;
    font-weight: 400;
}

.addressTitle {
    margin-left: 220.3px;
    top: -60px;
    width: 150px;
}

.jurisdictionTitle {
    margin-left: 655.6px;
    margin-top: -76px;
    width: 150px;
}

.phoneTitle {
    margin-left: 1148.4px;
    margin-top: -61px;
    width: 200px;
}

.address, .jurisdiction, .phone {
    position: relative;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.address {
    width: 214px;
    margin-left: 221.3px;
    margin-top: -50px;
}

.jurisdiction {
    width: 206px;
    margin-left: 656.6px;
    margin-top: 9px;
}

.phone {
    width: 104px;
    margin-left: 1148.4px;
    margin-top: 9px;
}

.imgEparchy {
    width: 85px;
    margin-top: 7px;
    margin-left: 42.5px;
    filter: grayscale(100%);
    opacity: 0.5;
}
