.news, .gallery, .history, .choir, .communities, .contacts, .map, .socialNetworks {
    position: relative;
    height: 45px;
    display: inline-block;
    border-right: #956033 2px solid;
    border-bottom: #956033 2px solid;
    color: #2E1E10;
    font-size: 16px;
    font-weight: 600;
}

.news {
    width: 14.68%;
}

.gallery {
    width: 14.94%;
}

.history {
    width: 12.6%;
}

.choir {
    width: 7.94%;
}

.communities {
    width: 19.11%;
}

.contacts {
    width: 16.46%;
}

.map {
    width: 10.51%;
}

.socialNetworks {
    background-color: #F6DEA2;
    width: 3.03%;
    cursor: pointer;
    border-right: none;
}

.mean {
    position: relative;
    text-align: center;
    top: 11.5px;
}

.meanSoc {
    position: relative;
    height: 32px;
    top: 13px;
    text-align: center;
    transition: height .2s ease-out;
}

.meanSoc:hover {
    background-color: #F6DEA2;
    height: 120px;
    border-radius: 5px;
}

.meanSoc:hover > .socIcons {
    visibility: visible;
    opacity: 1;
}

.icon {
    color: #2E1E10;
    width: 30px;
    height: 20px;
}

.socIcons {
    position: absolute;
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s ease-out;
    margin-top: 35px;
    margin-left: -25px;
}

a {
    display: block;
    text-align: center;
    color: #2E1E10;
    font-size: 20px;
}

a:hover {
    color: #956033;
}
